*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
}
:root{
    --bg-color:#191919;
    --second-bg-color:#101010;
    --main-color:#e9204f;
    --text-color:#fff;
    --second-color:#e4e4e4;
    --other-color:#c6c9d8bf;
    --h1-font:7rem;
    --h2-font:3.5rem;
    --p-font:1.1rem;
}
body{
    color: var(--text-color);
    background-color: var(--bg-color);
}
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 11%;
    border-bottom: 1px solid transparent;
    transition: all ease .50s;
}
.logo img{
    width:100px;
    height:85px;
}
.navlist{
    display: flex;
}
.navlist a{
    
    color: var(--second-color);
    font-size: var(--p-font);
    font-weight: 600;
    margin: 0 40px;
    transition: all ease 0.40s;
    
}
.navlist a:hover{
    color: var(--main-color);
}
section{
    padding: 120px 19% 100px;
}
.hero-text h3{
    color:var(--second-color);
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    word-spacing: 10px;
}
.hero-text h1{
    font-family: 'Dosis', sans-serif;
    font-size: var(--h1-font);
    color:var(--text-color) ;
    font-weight: 800;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.hero-text h4{
  color: var(--second-color);  
  font-size: 25px;
  font-weight: 600px;
  word-spacing: 15px;
  margin-bottom: 3.5rem;
}
/*.image img{
    width:380px;
    height:700px;
    right: 5px;
    bottom: 0;
    position: absolute;
}*/
.btn{
    display: inline-block;
    padding: 16px 45px;
    background: var(--main-color);
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 600;
    border: 2px solid var(--main-color);
    transition: all ease .50s;
}
.btn:hover{
    transform: translate(5p);
    background: transparent;
}
header.sticky{
    padding: 15px 11%;
    background: #000;
    border-bottom: 1px solid #4e5055;
}
.about{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,auto));
    align-items: center;
    gap:4rem ;
}
.about-img img{
    width:100% ;
    height: auto;
}
.about-text h2{
    font-family: 'Dosis', sans-serif;
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 10px;
}.about-text h5{
    font-size: 22px;
    margin-bottom: 20px;
    line-height: 1.4;
}
span{
   color: var(--main-color); 
}
.about-text p{
    color: var(--other-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 3rem;
}
.skills{
    background:var(--second-bg-color) ;
}
.text-center{
    text-align: center;
}
.text-center h2{
    font-family: 'Dosis', sans-serif;
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 10px;
}
.skills-items{
   display: grid; 
   grid-template-columns: repeat(auto-fit, minmax(250px,auto));
   align-items: center;
   gap: 2.2rem;
   margin-top: 4rem;
}
.skills-box{
    padding: 45px 30px;
    background: var(--bg-color);
    border-radius: 0.8rem;
    border: 1px solid transparent;
    cursor: pointer;
    transition: ease all .50s;
}
.skills h3{
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 12px;
}
.skills p{
    color: var(--other-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom :1.5em;
}
.s-btn{
    display: inline-block;
    padding: 9px 24px;
    background: var(--main-color);
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    border: 2px solid var(--main-color);
    border-radius: 2rem;
    transition: all ease .50s;
}
.s-btn:hover{
    transform: scale(1.1);
    background: transparent;
    border: 2px solid var(--main-color);
}
.skills-box:hover{
    transform: translate(-8px);
    border: 1px solid #4e5055;
}
.in img{
    width: 50px;
    height: 50px;
}
.contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,auto));
    align-items: center;
    gap: 5rem;
}
.left-contact{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 4rem;
}
.in img{
    color: var(--main-color);
    opacity: 0.5;
    font-size: 120px;
    margin-bottom: 15px;
    transition: all ease .40s;
}
.in img:hover{
    opacity: 1;
    cursor: pointer;
}
.in h4{
    font-size: 27px;
    font-weight: 600;
    letter-spacing: 1px;
}
.in h4:hover{
    color: #e9204f;
    cursor: pointer;
}
.contails-details{
    padding-top: 300px;
}
.achievements{
    padding: 80px 19% 70px;
    background: var(--second-bg-color);
    display: flex;
    align-items:center;
    flex-direction: column;
    text-align: center;
}
.achievements p{
    color: var(--other-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 20px;
}
.achievements img{
    width: 500px;
    height: auto;
}